@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Smooch+Sans:wght@100..900&family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -scroll-padding-top: 80px; /* altura da navbar */
}

html {
scroll-padding-top: 80px; /* mesma altura da navbar */
}

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #222;
    display: flex;
    align-items: center;
    justify-content:space-around;
    z-index: 999;
    padding: 1rem .3rem;
    font-family: 'Oswald', Arial;
    font-weight: 400;
    font-size: 1.2rem;
  }

  .nav-sec a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    display: inline-block;
    transition: transform 0.3s ease;
  }

  .nav-sec a:hover{
    color:yellow;    
    -transform: scale(1.2); 
    -border-bottom: 2px solid yellow;   
  }

    .nav-sec a.active {
    border-bottom: 2px solid yellow;
  }

  .logo img{
    width: 90px;
  }

  section {
height: 100vh;
margin: 0;
padding: 0;
position: relative;
overflow: hidden;
}


.paginacao-wrapper {
height: 100%;
width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
position: relative;
}

  .paginacao {
    display: flex;
    height: 100%;
    flex: 1;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    background-color: #222;
   
  }

  .paginacao::-webkit-scrollbar {
    display: none;
  }

  .item {
scroll-snap-align: start;
flex: 0 0 100%;
width: 100vw;
height: 100vh; /* <- isso garante altura total da tela */
display: flex;
align-items: center;
justify-content: center;
font-size: 2rem;
color: white;
font-family: 'Oswald', Arial;
font-weight: 100;
}

/*
  .item:nth-child(odd) {
    background-color: #007BFF;
  }

  .item:nth-child(even) {
    background-color: #00b894;
  }
*/

.reg1 {
    background-color: #EADDA9;
    display: flex;
    color: black;
}

.reg2 {
    background-color: #4f4d45;
    display: flex;
    color: #fff;
}

.reg3 {
    background-color: #8e54cc;
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    padding-top: 8rem;
    color: #fff;
}

.reg4 {
    background-color: #4f4d45;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 6rem;
    padding-left: 5%;
}

.macro2{
    background-color: #4c13e8;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 6rem;
    padding-left: 5%;
}

.macro2 p{
    padding-left: 2rem;
}

.subtitulo{
    padding: 2rem 0;
}

.macro1 .textoEsq p{
    color: #fff;
    background-color: rgba(105, 126, 231, 0.85);
    height: 90%;
    padding: 2rem;
    border-radius: 9px;
}

.histo1 {
    background-color: #F6B24F;
    display: flex;
    color: black;
}

.histo2{
    background-image: url("../image/histo01.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.emblocamento {
    background-color: #EADDA9;
    display: flex;
    color: black;
}

.microtomia {
    background-color: #F6B24F;
    display: flex;
    color: black;
}

.coloracao {
    background-color: #7572DB;
    display: flex;
    color:#fff;
}

.microscopia {
    background-color: #FFCA29;
    display: flex;
    color:#000;
}

.home {
    background-color: #4c15e4e4;      
    display: flex;
    color:#fff;
}

.home3 {
    background-color: #FFF8F2;      
    display: flex;
    color:#4c15e4e4;
}

.figFundoHome{
    width: 50%;
    height: 100%;
    background-image: url("../image/pele.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

.figFundoHome3{
    width: 50%;
    height: 100%;
    background-image: url("../image/HematoxilinQuad.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

.home2{
    background-color: #fff;
    background-image: url("../image/process.png");
    background-repeat: no-repeat;
    background-size: 80%;  
    background-position: center;
}

.figFundoReg{
    width: 50%;
    height: 100%;
    background-image: url("../image/01registroQuad.JPG");
    background-repeat: no-repeat;
    background-size: cover;  
}

.figFundoMacro{
    -width: 100%;
    height: 100%;
    background-image: url("../image/fundoMacro.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
}

.figFundoHisto{
    width: 50%;
    height: 100%;
    background-image: url("../image/03histotecnicoQuad.JPG");
    background-repeat: no-repeat;
    background-size: cover;  
}

.figFundoBloco {
    width: 50%;
    height: 100%;
    background-image: url("../image/04inclusaoQuad.JPG");
    background-repeat: no-repeat;
    background-size: cover;  
}

.figFundoCorte {
    width: 50%;
    height: 100%;
    background-image: url("../image/05microtomiaQuad.JPG");
    background-repeat: no-repeat;
    background-size: cover;  
}

.figFundoColor {
    width: 50%;
    height: 100%;
    background-image: url("../image/06coloracaoQuad.JPG");
    background-repeat: no-repeat;
    background-size: cover;  
}

.figFundoMicro {
    width: 50%;
    height: 100%;
    background-image: url("../image/MicroOrangeQuad.png");
    background-repeat: no-repeat;
    background-size: cover;  
}

.texto{
    width: 90%;
    padding-top: 5% 3%;
    font-size: 1.1rem;
    text-align: justify;
}

.textoDir{
    width: 50%;
    padding-top: 8%;
    padding-right: 3%;
    font-size: 1.6rem;
    text-align: justify;
}

.textoEsq{
    left: 50%;
    width: 50%;
    padding-top: 8%;
    padding-left: 3%;
    font-size: 1.6rem;
    text-align: justify;
}

.textoLado{
    width: 45%;
    padding-top: 5% 2%;
    font-size: 1.2rem;
    text-align: justify;
}

.textos {
    display: flex;
    padding-top: 2rem;
}

.textos .textoLado {
    font-size: 1.5rem;
}

.tituloCentro h2{
    padding: 0;
    text-align: center;
}

.tituloCentro p{
    padding: 2rem;
    text-align: center;
}

h1, h2 {
    padding: 2rem 0;
}

h3 {
    padding: 1.2rem 0;
}


  .dots {
position: absolute;
bottom: 20px;
left: 50%;
transform: translateX(-50%);
display: flex;
gap: 0.5rem;
z-index: 10;
}

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(42, 215, 12, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .dot.active {
    background-color: #070c89;
  }